:root {
    /* Colors */
    --clr-pr1: #B28EFA;
    --clr-pr2: #E3FF2B;
    --clr-pr3: #FD6D34;
    --clr-black: #000000;

    /* Fonts */
    --ff-pr: 'Montserrat', sans-serif;

    /* Font Sizes */
    --fs-h1: 1.875rem;
    --fs-h2: 1.125rem;
    --fs-p: 1rem;
    --fs-btn: 1rem;

    /* Font Weights */
    --fw-500: 500;
    --fw-700: 700;

    /* border-radius */
    --br-1: 1.5rem;

    /* avatar */
    --avatar: 2.5rem;

    @media (min-width: 840px) {
        /* Font Sizes */
        --fs-h1: 2.813rem;
        --fs-h2: 1.rem;
        --fs-p: 1.375rem;
        --fs-btn: 1.25rem;
    }


}